body {
    font-family: Arial;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.login-container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}
 
input, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
 
button {
    background: #1e3c72;
    color: white;
    border: none;
    cursor: pointer;
}
 